<!-- =========================
     TUBASTE FOOTER
========================= -->


<footer class="footer">


<div class="container footer-container">



    <!-- FOOTER BRAND -->


    <div class="footer-brand">


        <h2>
            BUILD. GROW. LEAD.
        </h2>


        <p>
            Welcome to a community built around
            ideas, growth, leadership, and connection.
        </p>


    </div>






    <!-- SOCIAL LINKS -->


    <div class="social-links">


        <h3>
            Connect
        </h3>


        <a 
            href="https://www.youtube.com/@TubasteYusuphu"
            target="_blank"
            rel="noopener noreferrer"
        >
            YouTube
        </a>



        <a href="#">
            Instagram
        </a>



        <a href="#">
            Facebook
        </a>



        <a href="#">
            TikTok
        </a>


    </div>







    <!-- FOOTER NAVIGATION -->


    <nav class="footer-links">


        <h3>
            Explore
        </h3>



        <a href="index.html">
            Home
        </a>



        <a href="about.html">
            About
        </a>



        <a href="videos.html">
            Videos
        </a>



        <a href="community.html">
            Community
        </a>



        <a href="work.html">
            Work
        </a>



        <a href="social.html">
            Connect
        </a>



        <a href="contact.html">
            Contact
        </a>


    </nav>







    <!-- FOOTER CTA -->


    <div class="footer-action">


        <h3>
            Join Tubaste
        </h3>



        <a 
            href="https://www.youtube.com/@TubasteYusuphu"
            target="_blank"
            rel="noopener noreferrer"
            class="subscribe-btn"
        >

            Subscribe

        </a>


    </div>







    <!-- COPYRIGHT -->


    <div class="copyright">


        © 2026 Tubaste.
        BUILD. GROW. LEAD.
        EVERYTHING IS CONNECTED.


    </div>




</div>


</footer>
