<!-- =========================
     TUBASTE NAVBAR
========================= -->


<div class="navbar-container">



    <!-- BRAND -->

    <div class="brand">

        BUILD. GROW. LEAD.

    </div>





    <!-- NAVIGATION -->

    <nav class="nav-menu">


        <ul>


            <li>
                <a href="index.html">
                    Home
                </a>
            </li>



            <li>
                <a href="about.html">
                    About
                </a>
            </li>



            <li>
                <a href="videos.html">
                    Videos
                </a>
            </li>



            <li>
                <a href="community.html">
                    Community
                </a>
            </li>



            <li>
                <a href="work.html">
                    Work
                </a>
            </li>



            <li>
                <a href="social.html">
                    Connect
                </a>
            </li>



            <li>
                <a href="contact.html">
                    Contact
                </a>
            </li>


        </ul>


    </nav>






    <!-- SUBSCRIBE BUTTON -->


    <a 
        href="https://www.youtube.com/@TubasteYusuphu"
        class="subscribe-btn"
        target="_blank"
        rel="noopener noreferrer"
    >

        Subscribe

    </a>





    <!-- HAMBURGER -->

    <button 
        class="hamburger"
        id="hamburger"
        aria-label="Open menu"
        aria-expanded="false"
    >

        <span></span>
        <span></span>
        <span></span>

    </button>



</div>
