<div class="navbar-container">





    <!-- Brand -->


    <div class="brand">

        BUILD. GROW. LEAD.

    </div>









    <!-- Navigation -->


    <nav class="nav-menu">


        <ul>


            <li>

                <a href="index.html">
                    Home
                </a>

            </li>




            <li>

                <a href="about.html">
                    About
                </a>

            </li>





            <li>

                <a href="videos.html">
                    Videos
                </a>

            </li>





            <li>

                <a href="community.html">
                    Community
                </a>

            </li>





            <li>

                <a href="work.html">
                    Work
                </a>

            </li>





            <li>

                <a href="contact.html">
                    Contact
                </a>

            </li>



        </ul>


    </nav>









    <!-- Subscribe Button -->


    <a
    href="https://www.youtube.com/@TubasteYusuphu"
    target="_blank"
    class="subscribe-btn">


        Subscribe


    </a>









    <!-- Hamburger -->


    <div id="hamburger-container">

    </div>





</div>
