<div class="navbar-container">


    <!-- BRAND -->

    <div class="brand">

        BUILD. GROW. LEAD.

    </div>



    <!-- MAIN NAVIGATION -->

    <nav class="nav-menu">

        <ul>

            <li>
                <a href="index.html">
                    Home
                </a>
            </li>


            <li>
                <a href="about.html">
                    About
                </a>
            </li>


            <li>
                <a href="videos.html">
                    Videos
                </a>
            </li>


            <li>
                <a href="reels.html">
                    Reels
                </a>
            </li>


            <li>
                <a href="gallery.html">
                    Gallery
                </a>
            </li>


            <li>
                <a href="community.html">
                    Community
                </a>
            </li>


            <li>
                <a href="work.html">
                    Work
                </a>
            </li>


            <li>
                <a href="social.html">
                    Social
                </a>
            </li>


            <li>
                <a href="contact.html">
                    Contact
                </a>
            </li>

        </ul>

    </nav>



    <!-- YOUTUBE SUBSCRIBE -->

    <a
        href="YOUR_YOUTUBE_LINK"
        target="_blank"
        rel="noopener noreferrer"
        class="subscribe-btn">

        Subscribe

    </a>



    <!-- MOBILE HAMBURGER -->

    <div id="hamburger-container">

    </div>


</div>
